#container {
}

#header {
  width: 100%;
  height: 420px;
  background-size: cover !important;
  background-position: center center !important;
  filter: blur(4px);
  -webkit-filter: blur(4px);
  position: relative;
}

.menu {
  position: absolute;
  width: 100%;
  top: 0;
}

.menu > ul {
  text-align: center;
}
.menu > ul > li {
  list-style: none;
  display: inline;
}
.menu > ul > li > a {
  color: #fff;
  margin-right: 20px;
  font-family: Montserrat;
}
#wrapper {
  margin: auto;
  width: 900px;
}

#login {
  border: 1px solid #aeaeae;
  margin: 100px auto 0;
  padding: 0;
  width: 300px;
}

#adminmenu {
  padding-left: 0;
}

#adminmenu li {
  float: left;
  list-style: none;
  margin-right: 20px;
}

.clear {
  clear: both;
}

.error {
  padding: 0.75em;
  margin: 0.75em;
  border: 1px solid #990000;
  max-width: 400px;
  color: #990000;
  background-color: #fdf0eb;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
}

p,
li {
  color: #555555;
  font-size: 16px;
  line-height: 1.5em;
}

a {
  color: #ef1f2f;
  text-decoration: none;
}

form input {
  border: 1px solid #999999;
  border-bottom-color: #cccccc;
  border-right-color: #cccccc;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 2px;
}

table {
  width: 98%;
  text-align: left;
  border: 1px solid #dddddd;
  font-size: 12px;
  color: #000;
  background: #fff;
  margin-bottom: 10px;
}
table th {
  background-color: #e5e5e5;
  border: 1px solid #bbbbbb;
  padding: 3px 6px;
  font-weight: normal;
  color: #000;
}
table tr td {
  border: 1px solid #dddddd;
  padding: 5px 6px;
}
table tr.alt td {
  background-color: #e2e2e2;
}
table tr:hover {
  background-color: #f0f0f0;
  color: #000;
}
